<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf=8">
    <title>O Nas i o projekcie</title>
</head>
<body>
    <h1>O Nas i o projekcie</h1>
    <p> 

        <h2>Nasz projekt:</h2>

        Jesteśmy studentami I roku Matematyki i Statystyki na Politechnice Wrocławskiej. 
        Wspólnie storzyliśmy ten projekt. Naszym zadaniem było stworzenie matematycznej aplikacji.
        Wymyśliliśmy aplikacje, której zadaniem będzieobliczanie i rysowanie wykresu funkcji. 
        Użytkownik powinien wpisać swoją funkcję w wyzanczone miejsce, a nasza aplikacja powinna przekierowaC
        go w odpowiednie miejsce w dobrze znanej wszystkim matematykom, studentom i nie tylko
        aplikacji WolframAlpha.
        
        <h2>Członkowie zespołu:</h2>

        <h3>Szymon Rajewski</h3>
        <img src="file:///C:/Users/asus/Downloads/Szymon_Rajewski.png" alt="Szymon Rajewski"
         style="float:center; height: 150px; width: 200px;" > <br/>

         Szymon jest liderem naszej grupy. To on wymyślił naszą aplikację.

         <h3>Bartosz Opaliński</h3>
         <img src="file:///C:/Users/asus/Downloads/206284197_525218325459548_1787051759671903464_n.png"
          alt="Bartosz Opaliński" style="float:center; height: 200px; width: 150px;" > <br/>

         Bartek interesuje się astronomią. Jego ulubiony sport to piłka nożna. Jego zadaniem było

         <h3>Kamil Kordek</h3>
         <img src="file:///C:/Users/asus/Downloads/208517635_237905064539490_7361119721932350977_n.png"
          alt="Kamil Kordek" style="float:center; height: 200px; width: 200px;" > <br/>

          Kamil jest

          <h3>Sylwia Gojdź</h3>
          <img src="file:///C:/Users/asus/Downloads/39193571_1620381961423777_792957456555704320_n.png"
           alt="Sylwia Gojdź" style="float:center; height: 200px; width: 200px;" > <br/>

           Sylwia 

           <h3>Sara Knapik</h3>
           <img src="file:///C:/Users/asus/Downloads/95910805_936141800154782_7451300248858656768_n.png"
            alt="Sara Knapik" style="float:center; height: 200px; width: 200px;" > <br/>

            Sara stworzyła stronę "O nas" i wszystko co się w niej znajduje. Interesuje się wizażem i modą. 
            Poza studiowaniem matematyki, uczy się ona również w rocznej szkole wizażu i pracuje jako stylista.
            





    </p>



</body>
    </html>