<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf=8">
    <nav class="nav nav-pills nav-justified">
        <a class="nav-link" href="home.html">Dom</a>
        <a class="nav-link active" aria-current="page" href="about.html">Trochę o członkach grupy</a>
        <a class="nav-link" href="test.html">Test</a>
    </nav>
    <title>O Nas i o projekcie</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-reboot.css">
</head>
<body>
    <h1>O Nas i o projekcie</h1>
    <p> 

        <h2>Nasz projekt:</h2>

        Jesteśmy studentami I roku Matematyki i Statystyki na Politechnice Wrocławskiej. 
        Wspólnie storzyliśmy ten projekt. Naszym zadaniem było stworzenie matematycznej aplikacji.
        Wymyśliliśmy aplikacje, której zadaniem będzieobliczanie i rysowanie wykresu funkcji. 
        Użytkownik powinien wpisać swoją funkcję w wyzanczone miejsce, a nasza aplikacja powinna przekierowaC
        go w odpowiednie miejsce w dobrze znanej wszystkim matematykom, studentom i nie tylko
        aplikacji WolframAlpha.
        
        <h2>Członkowie zespołu:</h2>

        

            <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../static/206284197_525218325459548_1787051759671903464_n.png" class="img-fluid rounded-start" alt="Bartosz Opaliński">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Bartosz Opaliński</h2>
                      <p class="text-light bg-dark"> Bartek interesuje się astronomią. Jego ulubiony sport to piłka nożna.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../static/Szymon_Rajewski.png" class="img-fluid rounded-start" alt="Szymon_Rajewski">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Szymon Rajewski</h2>
                      <p class="card-text"> Szymon jest liderem naszej grupy. To on wymyślił naszą aplikację.
                        Ostatnio zafascynował się grą w tenisa i wpinaczką na sciance.
                        W przerwie od studiów pracuje.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../static/208517635_237905064539490_7361119721932350977_n.png" class="img-fluid rounded-start" alt="Kamil Kordek">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Kamil Kordek</h2>
                      <p class="card-text"> Kamil bardzo lubi jeździć na rowerze. Intereseuje go też piłka nożna.
                    </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../static/39193571_1620381961423777_792957456555704320_n.png" class="img-fluid rounded-start" alt="Sylwia Gojdź">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Sylwia Gojdź</h2>
                      <p class="card-text"> Zainteresowaniami Sylwii są puzzle i matematyka. Układa je w każdej wolnej chwilii.
                        W przyszłości chciałaby zostać nauczycielką matematyki.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card text-white bg-dark mb-3" style="max-width: 800px;">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="../static/95910805_936141800154782_7451300248858656768_n.png" class="img-fluid rounded-start" alt="Sara Knapik">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h2 class="card-title">Sara Knapik</h2>
                      <p class="card-text"> Sara stworzyła stronę "O nas" i wszystko co się w niej znajduje. Interesuje się wizażem i modą. 
                        Poza studiowaniem matematyki, uczy się ona również w rocznej szkole wizażu i pracuje jako stylista..</p>
                    </div>
                  </div>
                </div>
              </div>
            





    </p>



</body>
    </html>