<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wykres funkcji</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/bootstrap-reboot.css">
</head>
<body>
<form class="row g-3">
    <div class="col-12">
      <label for="inputWzor" class="form-label">Wzór funkcji</label>
      <input type="text" class="form-control" id="inputWzor">
    </div>
    <div class="col-12">
      <button onclick="calculateFunction(inputWzor.innerHTML);" type="submit" class="btn btn-primary">Rysuj wykres</button>
    </div>
  </form>
<script src="../static/function_graph.js"></script>
<script src="../static/bootstrap.js"></script>
</body>
</html>
