<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" type="text/css" href="style.css">
        <link rel="stylesheet" href="../static/bootstrap.css">
        <link rel="stylesheet" href="../static/bootstrap-reboot.css">
        <meta name="viewport" content="width=device-width, initial scale=1.0">

        <SCRIPT type="text/javascript">
            MathJax = { tex: { inlineMath: [['$', '$'], ['\\(', '\\)']] } };</SCRIPT>
        <SCRIPT type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </SCRIPT>
    </head>
    <body>
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Wykres funkcji</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="about.html">O nas i o projekcie</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="test.html">Test</a>
            </li>
        </ul>
        <h1 id="naglowek">Przetestuj swoje umiejętności z rozwiązywania zadań związanych z funkcjami kwadratowymi</h1>
        <h4 id="opis">Przykłady generowane są losowo, zatem jeśli chcesz rozwiązać nowe zadania, wystarczy, że odświeżysz stronę!</h4>
        <p>Przykład 1: $${{dzialanie1}} $$</p>
        {% endautoescape %}
        <p onclick="znikanie()">Odpowiedź</p>
        <p id="answers" style="display: none;">{{odp1}}</p>
        <script>
            function znikanie(){
                var x = document.getElementById("answers")
                if(x.style.display === "none"){
                    x.style.display = "block";
                }else{
                    x.style.display = "none"
                }
            }
        </script>
        <p>Przykład 2: $${{dzialanie2}} $$</p>
        {% endautoescape %}
        <p onclick="znikanie()">Odpowiedź</p>
        <p id="answers" style="display: none;">{{odp2}}</p>
        <script>
            function znikanie(){
                var x = document.getElementById("answers")
                if(x.style.display === "none"){
                    x.style.display = "block";
                }else{
                    x.style.display = "none"
                }
            }
        </script>
        <p>Przykład 3: $${{dzialanie3}} $$</p>
        {% endautoescape %}
        <p onclick="znikanie()">Odpowiedź</p>
        <p class="answers" style="display: none;">{{odp3}}</p>
        <script>
            function znikanie(){
                var x = document.getElementById("answers")
                if(x.style.display === "none"){
                    x.style.display = "block";
                }else{
                    x.style.display = "none"
                }
            }
        </script>
        <p>Przykład 4: $${{dzialanie4}} $$</p>
        {% endautoescape %}
        <p onclick="znikanie()">Odpowiedź</p>
        <p class="answers" style="display: none;">{{odp4}}</p>
        <script>
            function znikanie(){
                var x = document.getElementById("answers")
                if(x.style.display === "none"){
                    x.style.display = "block";
                }else{
                    x.style.display = "none"
                }
            }
        </script>
        <p>Przykład 5: $${{dzialanie5}} $$</p>
        {% endautoescape %}
        <p onclick="znikanie()">Odpowiedź</p>
        <p class="answers" style="display: none;">{{odp5}}</p>
        <script>
            function znikanie(){
                var x = document.getElementById("answers")
                if(x.style.display === "none"){
                    x.style.display = "block";
                }else{
                    x.style.display = "none"
                }
            }
        </script>
    </body>
</html>